body{
    background-color: black!important;
}

.audioplayer{
    position: sticky;
    bottom: 0;
    width: 100vw;
    z-index: 10;
    background-color: black;
}

audio {
    border-radius: 50%;
}

#link{
    text-decoration: none !important;
    color: white;
}

#linkbrand{
    text-decoration: none !important;
    color: white;
    font-weight: bold;

    background-color: black;
    border-radius: 50%;
    border-style: solid;
}

a {
    text-decoration: none !important;
}

.page-link{
    background-color: black !important;
    color: white !important;
}