body{
    background-color: black!important;
    min-height: 100vh;
}

/* .App{
    min-height: 100vh;
} */

img{
    background: url(assets/image-holder-icon-614x460.png) no-repeat scroll 0 0;
}

.audioplayer{
    position: sticky;
    bottom: 0;
    width: 100vw;
    z-index: 10;
    background-color: black;
}

audio {
    border-radius: 50%;
}

#link{
    text-decoration: none !important;
    color: white;
}

#linkbrand{
    text-decoration: none !important;
    color: white;
    font-weight: bold;

    background-color: black;
    border-radius: 50%;
    border-style: solid;
}

a {
    text-decoration: none !important;
}

.page-link{
    background-color: black !important;
    color: white !important;
}

.toastFavorite{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.user-nocontent{
    height: 100vh;
    text-align: center;
    color: white;
}

#Sändning{
    background-color: black !important;
    color: white !important;
}

#ContentImg{
    width: 25%;
}

#nodatatitel{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#channelStartingpagecard{
    max-width: 100px;
}

#LoginContainer{
    height: 90vh;
}

@media (min-width: 765px) {
    #Cardbody{
        height: 300px;
    }

    #Loadingcard{
        display: none;
    }
  }